body {
  font-family: 'comicsansms', sans-serif;
  background: #f4f4f4;
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

canvas {
  margin-top: 20px;
}